* {
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	text-align: center;
	background: #333;
	color: #222;
	display: table;
	overflow: hidden;
	font-size: 14px;
}

.wrapper {
	display: inline-block;
	vertical-align: middle;
	padding-top: 100px;
	position: relative;
	.logo {
		max-width: 175px;
		@media screen and (min-width: 769px) {
			max-width: 275px;
		}
	}
	
	/* Blinking Cursor */
	//.blinking-cursor {
	//	height: 20px;
	//	width: 8px;
	//	background-color: #00ba56;
	//	display: inline-block;
	//	position: absolute;
	//	bottom: 26px;
	//	right: -10px;
	//	float: none;
	//	opacity: 0.75;
	//	-webkit-animation: 1s blink step-end infinite;
	//	-moz-animation: 1s blink step-end infinite;
	//	-ms-animation: 1s blink step-end infinite;
	//	-o-animation: 1s blink step-end infinite;
	//	animation: 1s blink step-end infinite;
	//	@media screen and (min-width: 769px) {
	//		height: 27px;
	//		width: 10px;
	//		bottom: 34px;
	//		right: -13px;
	//	}
	//}
	//
	//@keyframes "blink" {
	//	from, to {
	//		background-color: transparent;
	//	}
	//	50% {
	//		background-color: #00ba56;
	//	}
	//}
	//
	//@-moz-keyframes blink {
	//	from, to {
	//		background-color: transparent;
	//	}
	//	50% {
	//		background-color: #00ba56;
	//	}
	//}
	//
	//@-webkit-keyframes "blink" {
	//	from, to {
	//		background-color: transparent;
	//	}
	//	50% {
	//		background-color: #00ba56;
	//	}
	//}
	//
	//@-ms-keyframes "blink" {
	//	from, to {
	//		background-color: transparent;
	//	}
	//	50% {
	//		background-color: #00ba56;
	//	}
	//}
	//
	//@-o-keyframes "blink" {
	//	from, to {
	//		background-color: transparent;
	//	}
	//	50% {
	//		background-color: #00ba56;
	//	}
	//}
	//
	//.blinking-cursor:hover {
	//	-webkit-animation: none;
	//	-moz-animation: none;
	//	-ms-animation: none;
	//	-o-animation: none;
	//	animation: none;
	//}
	
	h2 {
		font-family: 'Oswald', Helvetica, Arial, sans-serif;
		font-size: 24px;
		font-weight: 200;
		letter-spacing: 0.5px;
		@media screen and (min-width: 769px) {
			font-size: 32px;
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	.social {
		text-align: center;
		display: inline-block;
		ul {
			padding: 0;
			margin: 25px 0;
			list-style: none;
			li {
				display: inline-block;
				margin-right: 30px;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: #00ba56;
					font-size: 30px;
					transition: opacity 0.3s;
					&:hover {
						opacity: 0.65;
					}
					i {
						font-family: 'FontAwesome', sans-serif;
					}
				}
			}
		}
	}
}