@font-face{
	font-family:"Bebas Neue W01 Regular";
	src:url("../../assets/fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
	src:url("../../assets/fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),url("../../assets/fonts/1444649/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),url("../../assets/fonts/1444649/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),url("../../assets/fonts/1444649/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype");
}
@font-face{
	font-family:"Gilroy W05 Light";
	src:url("../../assets/fonts/5538949/6b236a39-df16-4ab5-a768-40f2864dab3b.eot?#iefix");
	src:url("../../assets/fonts/5538949/6b236a39-df16-4ab5-a768-40f2864dab3b.eot?#iefix") format("eot"),url("../../assets/fonts/5538949/a6096205-61ed-4c16-b76c-a56dd651ad33.woff2") format("woff2"),url("../../assets/fonts/5538949/18f98fc7-4ddd-4d5e-94c0-c9b74a2325bd.woff") format("woff"),url("../../assets/fonts/5538949/4dd50808-4386-406c-8c7c-1f4de240e451.ttf") format("truetype");
}
@font-face{
	font-family:"Gilroy W05 ExtraBold";
	src:url("../../assets/fonts/5538999/ab8fcd38-de60-4a08-a311-c614f97265d5.eot?#iefix");
	src:url("../../assets/fonts/5538999/ab8fcd38-de60-4a08-a311-c614f97265d5.eot?#iefix") format("eot"),url("../../assets/fonts/5538999/9aa3a833-f885-4df4-975c-c504bb6a7b67.woff2") format("woff2"),url("../../assets/fonts/5538999/824bd825-cb90-45d8-ac5e-3997fd8632ac.woff") format("woff"),url("../../assets/fonts/5538999/c5ae8834-4b3f-4d9c-9410-d3eb220605e3.ttf") format("truetype");
}
@font-face {
	font-family: 'gobold_thin_lightregular';
	src: url('../fonts/gobold_light-webfont.eot');
	src: url('../fonts/gobold_light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gobold_light-webfont.woff2') format('woff2'),
	url('../fonts/gobold_light-webfont.woff') format('woff'),
	url('../fonts/gobold_light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gobold_thinregular';
	src: url('../fonts/gobold_thin-webfont.eot');
	src: url('../fonts/gobold_thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gobold_thin-webfont.woff2') format('woff2'),
	url('../fonts/gobold_thin-webfont.woff') format('woff'),
	url('../fonts/gobold_thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}