.bk-header {
	width: calc(100% - 90px);
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 20px 45px;
	text-align: left;
	
	.logo-home {
		width: 40px;
		display: inline-block;
		img {
			max-width: 100%;
		}
	}
}