.bk-header {
	position: fixed;
	height: 100vh;
	z-index: 203;
	transition: all .3s ease;
	width: 75px;
	background-color: #222;
	border-right: none;
	
	.logo-home {
		top: 20px;
		left: 17.5px;
		width: 40px;
		height: 40px;
		background-image: url('../img/bk-logo-new-white-on-gold.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		transition: background-image 0.3s ease;
		position: absolute;
		z-index: 203;
	}
	
	.burger-menu {
		position: fixed;
		z-index: 203;
		top: 50%;
		left: 17.5px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: all 0.3s ease;
		@include transform(translateY(-50%));
		
		.lines {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			.line {
				display: block;
				height: 2px;
				width: 40px;
				margin: 0 auto 8px;
				background-color: #c6a437;
				transition: all .3s ease;
				
				&:last-child {
					margin-bottom: 0;
				}
				&.active {
					//background-color: $color-light;
					&.top {
						@include transform(translateY(12px) rotateZ(45deg));
					}
					
					&.middle {
						opacity: 0;
					}
					
					&.bottom {
						@include transform(translateY(-9px) rotateZ(-45deg));
					}
				}
			}
		}
		
	}
	
	&.active {
		box-shadow: 1px 0 2px 1px rgba(34,34,34,0.25);
	}
	
}

body.nav-open {
	.bk-header {
		//background-color: $color-light;
	}
}