#menu-wrapper {
	width: 20vw;
	background: black;
	height: 100vh;
	position: fixed;
	right: -10px;
	top: 0;
	z-index: 100;
	opacity: 0.89;
	transform: translate(170%, 0%);
	padding-top: 150px;
	transition: all 0.6s ease;
	&:after {
		position: absolute;
		content: '';
		display: block;
		left: -70px;
		bottom: 11px;
		transform: rotate(-8deg);
		width: 110%;
		height: 110%;
		background: black;
		z-index: 100;
	}
	&.open {
		-webkit-transform: translate(0%, 0%);
		-ms-transform: translate(0%, 0%);
		transform: translate(0%, 0%);
	}
	
	.link {
		font-size: 1.5rem;
		color: #c6a437;
		font-weight: 500;
		display: block;
		margin: 30px auto;
		position: relative;
		text-align: right;
		text-decoration: none;
		z-index: 101;
		transform: translateX(-60px);
	}
}