@-webkit-keyframes pulse {
	0% {
		@include transform(scale(1.0));
	}
	50% {
		@include transform(scale(1.15));
	}
	100% {
		@include transform(scale(1.0));
	}
}

@keyframes pulse {
	0% {
		@include transform(scale(1.0));
	}
	50% {
		@include transform(scale(1.15));
	}
	100% {
		@include transform(scale(1.0));
	}
}

.section {
	color: $color-gold;
	height: 100vh;
	width: 100%;
	display: table;
	padding: 0;
	&:not(.work):not(.intro) {
		padding-left: 17.5px;
		padding-right: 17.5px;
		@media only screen and (min-width: 769px) {
			padding: 0 0 100px 75px;
		}
	}
	@media only screen and (min-width: 769px) {
		padding: 0 0 100px 75px;
	}
	.section-inner {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
	.section-header {
		padding: 100px 0 50px;
		text-align: left;
		@media only screen and (min-width: 769px) {
			padding: 80px 30px;
		}
		.header-text {
			.num {
				position: relative;
				bottom: 25px;
				right: 4px;
				font-size: .75rem;
				font-weight: 700;
				font-family: 'Montserrat', Helvetica, Arial, sans-serif;
				color: rgba(34,34,34,0.75);
			}
			h1 {
				display: inline-block;
				font-size: 3rem;
				line-height: 2.5rem;
				font-family: 'Montserrat', Helvetica, Arial, sans-serif;
				font-weight: 700;
				margin: 0;
				color: #222;
				text-transform: lowercase;
				position: relative;
				padding: 0 5px;
				@media only screen and (min-width: 769px) {
					font-size: 4rem;
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 15px;
					top: 15px;
					left: 0;
					background-color: #e3cd89;
					z-index: -1;
				}
			}
		}
	}
	.container {
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
	}
	
	&.intro {
		background-color: #222222;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		padding-left: 17.5px;
		padding-right: 17.5px;
		@include user-select(none);
		
		@media only screen and (min-width: 769px) {
			padding: 0 0 0 75px;
		}
		
		.container {
			height: 100%;
			max-width: none;
			
			//.gradient {
			//	width: 100%;
			//	height: 100%;
			//	background-image: radial-gradient(at 300px 300px, rgba(198,164,55,.6) 0, #222222 80%);
			//}
			//
			//#particles-js {
			//	height: 100vh;
			//}
			
			.top-canvas {
				width: 100%;
				height: 100%;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100vh;
					background-color: rgba(34,34,34,0.75);
				}
				
				.sketch {
					position: absolute;
					left: 0;
					top: 0;
					width: 100% !important;
					height: 80% !important;
					z-index: 101;
					@media only screen and (min-width: 769px) {
						z-index: 99;
						height: 85% !important;
					}
				}
				
				.top-text {
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -70%));
					z-index: 100;
					color: whitesmoke;
					font-family: 'Montserrat', Helvetica, Arial, sans-serif;
					@media only screen and (min-width: 769px) {
						@include transform(translate(-50%, -80%));
					}
				}
				
				.top-heading {
					font-family: 'gobold_thinregular', Helvetica, Arial, sans-serif;
					text-transform: uppercase;
					font-weight: 200;
					letter-spacing: 1px;
					font-size: 4.5rem;
					line-height: 1.2;
					margin: 0 0 10px;
					@include user-select(none);
					@media only screen and (min-width: 600px) {
						font-size: 6rem;
					}
					@media only screen and (min-width: 1600px) {
						font-size: 6vw;
					}
				}
				
				.divider {
					width: 34px;
					height: 5px;
					background-color: #c6a437;
					display: block;
					margin-bottom: 13px;
					left: 5px;
					position: relative;
				}
				
				.top-subheading {
					font-family: 'gobold_thin_lightregular', Helvetica, Arial, sans-serif;
					font-size: 1.35rem;
					font-weight: 200;
					text-align: left;
					padding-left: 5px;
					margin: 0 0 3px;
					@include user-select(none);
					&:last-child {
						margin-bottom: 0;
					}
					@media only screen and (min-width: 600px) {
						font-size: 1.5rem;
					}
					@media only screen and (min-width: 1600px) {
						font-size: 2vw;
					}
				}
				
				.scroll-down-wrap {
					position: absolute;
					left: 50%;
					@include transform(translateX(-50%));
					bottom: 25px;
					z-index: 100;
					.scroll-down-link {
						width: 60px;
						height: 60px;
						display: block;
						position: relative;
						@include transform(scale(1.0));
						transition: all 0.4s ease;
						-webkit-transform-style: preserve-3d;
						-webkit-backface-visibility: hidden;
						-webkit-animation: pulse 2s infinite ease;
						animation: pulse 2s infinite ease;
						img {
							max-width: 100%;
							max-height: 100%;
							-webkit-transform-style: preserve-3d;
							-webkit-backface-visibility: hidden;
						}
						.fa {
							position: absolute;
							top: 50%;
							left: 50%;
							font-size: 18px;
							color: #f5f5f5;
							@include transform(translate(-50%, -50%));
							-webkit-transform-style: preserve-3d;
							-webkit-backface-visibility: hidden;
						}
						//&:hover {
						//	@include transform(scale(1.15));
						//}
						@media only screen and (min-width: 769px) {
							-webkit-animation: none;
							animation: none;
							&:hover {
								@include transform(scale(1.15));
							}
						}
					}
				}
				
				canvas {
					display: inline-block;
				}
			}
			
		}
		
		h1 {
			font-family: 'Bebas Neue W01 Regular', sans-serif;
			font-size: 10rem;
			letter-spacing: 7px;
			margin: 0;
			color: rgba(245,245,245,0.9);
			line-height: 8rem;
			text-align: left;
		}
		
		h2 {
			font-weight: 500;
			font-size: 2.5rem;
			margin: 0;
			text-align: left;
		}
		
		.centerpiece {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			max-width: 475px;
			width: calc(100vw - 60px);
			height: auto;
			@media only screen and (min-width: 769px) {
				width: 475px;
			}
			@media only screen and (min-width: 1600px) {
				width: 40vw;
			}
			
			.tile {
				width: 55px;
				height: 55px;
				text-align: center;
				display: inline-block;
				position: relative;
				vertical-align: middle;
				perspective: 1000px;
				margin-right: 10px;
				margin-bottom: 10px;
				@media only screen and (min-width: 769px) {
					width: 95px;
					height: 95px;
					margin-right: 15px;
					margin-bottom: 15px;
				}
				
				.tile-inner {
					width: 100%;
					height: 100%;
					transition: all 1.5s cubic-bezier(.2,.24,.23,1.01);
					transform-style: preserve-3d;
					position: relative;
					
					.face {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						backface-visibility: hidden;
						box-shadow: 4px 4px 5px 1px rgba(0,38,66,0.75);
						border-radius: 50%;
						
						&.front {
							padding-top: 20%;
							z-index: 2;
							@include transform(rotateY(0deg)); /* For Firefox 31 */
							
							span {
								font-size: 46px;
								color: $color-light;
								font-family: 'Gilroy W05 Light', sans-serif;
								font-weight: 400;
								@media only screen and (min-width: 1600px) {
									font-size: 80px;
								}
							}
						}
						
						&.back {
							display: block;
							@include transform(rotateY(180deg));
							box-sizing: border-box;
							padding: 10px;
							color: white;
							text-align: center;
							background-color: rgba(0, 38, 66, 0.5);
							
							p {
							
							}
						}
						
					}
					
				}
				
				&:hover, &.hover {
					.tile-inner {
						@include transform(rotateY(540deg));
					}
				}
				
			}
			
		}
		
	}
	
	&.about {
		display: table;
		width: 100%;
		//padding-top: 100px;
		
		.container {
			display: table-cell;
			vertical-align: middle;
		}
		
		.bk-big-img {
			max-width: 100px;
			position: relative;
			vertical-align: middle;
		}
		
		.about-blocks {
			.about-break {
				display: none;
			}
			@media only screen and (min-width: 769px) {
				max-width: 85%;
				margin: 0 auto;
				.about-break {
					display: block;
				}
			}
		}
		
		.about-block {
			display: inline-block;
			position: relative;
			vertical-align: bottom;
			margin-bottom: 35px;
			max-width: 90%;
			@media only screen and (min-width: 769px) {
				max-width: none;
			}
			
			h1 {
				font-family: 'Montserrat', sans-serif;
				font-size: 2rem;
				font-weight: 500;
				color: #222;
				@media only screen and (min-width: 769px) {
					font-size: 3rem;
				}
			}
			
			.help-text {
				display: block;
				position: relative;
				margin-top: 15px;
				font-size: 1rem;
				font-style: italic;
				color: #222;
				
				&:before {
					content: '';
					position: absolute;
					top: -10px;
					left: 0;
					height: 4px;
					width: 100%;
					background: $color-gold;
				}
			}
			
			&.hello {
				margin-right: 0;
				@media only screen and (min-width: 769px) {
					margin-right: 20px;
				}
				
				h1 {
					display: inline-block;
					margin: 0;
					font-size: 5rem;
					line-height: 5rem;
				}
				
				img.smile {
					display: inline-block;
					max-width: 135px;
					top: 5px;
					position: relative;
				}
				
			}
			
			&.name {
				margin-right: 0;
				@media only screen and (min-width: 769px) {
					margin-right: 10px;
				}
				h1 {
					margin: 0;
					span {
						text-decoration: line-through;
						margin-right: 10px;
						opacity: 0.7;
					}
				}
			}
			
			&.and {
				margin: 0 auto 20px;
				display: block;
				@media only screen and (min-width: 769px) {
					margin-bottom: 68px;
					margin-right: 10px;
					display: inline-block;
				}
				h1 {
					margin: 0;
				}
			}
			
			&.what-i-do {
				@media only screen and (min-width: 769px) {
				
				}
				h1, img {
					display: inline-block;
					vertical-align: middle;
				}
				h1 {
					margin: 0;
				}
				img.www {
					max-width: 50px;
					margin: 0 15px;
				}
			}
			
			&.personal-info {
				max-width: 90vw;
				@media only screen and (min-width: 769px) {
					max-width: 75vw;
				}
				h1 {
					line-height: 2.5rem;
					margin: 0;
					@media only screen and (min-width: 769px) {
						line-height: 4rem;
					}
				}
				img.skateboard {
					max-width: 65px;
					margin-right: 15px;
					position: relative;
					top: 6px;
					@media only screen and (min-width: 769px) {
						max-width: 110px;
						top: 8px;
					}
				}
			}
		}
	}
	
	&.contact {
		padding: 0 0 50px 75px;
		.container {
			max-width: none;
			height: 100%;
			position: relative;
		}
		
		.inner {
			position: absolute;
			top: 60%;
			left: 50%;
			width: 100%;
			@include transform(translate(-50%,-50%));
			//@media only screen and (min-width: 769px) {
			//	top: 50%;
			//}
			
			h4 {
				font-size: 2rem;
				margin: 0 0 25px;
				color: #222;
				font-weight: 400;
				max-width: 90vw;
				@media only screen and (min-width: 769px) {
					font-size: 2.25rem;
					font-weight: 500;
					max-width: none;
				}
			}
			
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					margin-right: 50px;
					&:last-child {
						margin-right: 0;
					}
					a {
						font-size: 4rem;
						text-decoration: none;
						color: #222;
						transition: all 0.2s;
						&:hover {
							@media only screen and (min-width: 769px) {
								color: #c6a437;
							}
						}
					}
				}
			}
			
		}
	
	}
}