.section {
	color: $accent-dark;
	height: 100vh;
	width: 100%;
	display: table;
	.section-inner {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
	.container {
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
	}
	
	&.intro {
		background-image: url('../../assets/img/bg-test.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		
		h1 {
			font-family: 'Bebas Neue W01 Regular', sans-serif;
			font-size: 10rem;
			letter-spacing: 7px;
			margin: 0;
			color: rgba(245,245,245,0.9);
			line-height: 8rem;
			text-align: left;
		}
		
		h2 {
			font-weight: 500;
			font-size: 2.5rem;
			margin: 0;
			text-align: left;
		}
		
		.centerpiece {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			max-width: 475px;
			width: calc(100vw - 60px);
			height: auto;
			@media only screen and (min-width: 769px) {
				width: 475px;
			}
			@media only screen and (min-width: 1600px) {
				width: 40vw;
			}
			
			.tile {
				width: 55px;
				height: 55px;
				text-align: center;
				display: inline-block;
				position: relative;
				vertical-align: middle;
				perspective: 1000px;
				margin-right: 10px;
				margin-bottom: 10px;
				@media only screen and (min-width: 769px) {
					width: 95px;
					height: 95px;
					margin-right: 15px;
					margin-bottom: 15px;
				}
				
				.tile-inner {
					width: 100%;
					height: 100%;
					transition: all 1.5s cubic-bezier(.2,.24,.23,1.01);
					transform-style: preserve-3d;
					position: relative;
					
					.face {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						backface-visibility: hidden;
						box-shadow: 4px 4px 5px 1px rgba(0,38,66,0.75);
						border-radius: 50%;
						
						&.front {
							padding-top: 20%;
							z-index: 2;
							@include transform(rotateY(0deg)); /* For Firefox 31 */
							
							span {
								font-size: 46px;
								color: $accent-light;
								font-family: 'Gilroy W05 Light', sans-serif;
								font-weight: 400;
								@media only screen and (min-width: 1600px) {
									font-size: 80px;
								}
							}
						}
						
						&.back {
							display: block;
							@include transform(rotateY(180deg));
							box-sizing: border-box;
							padding: 10px;
							color: white;
							text-align: center;
							background-color: rgba(0, 38, 66, 0.5);
							
							p {
							
							}
						}
						
					}
					
				}
				
				&:hover, &.hover {
					.tile-inner {
						@include transform(rotateY(540deg));
					}
				}
				
			}
			
		}
		
	}
	
	&.about {
		display: table;
		width: 100%;
		.container {
			display: table-cell;
			vertical-align: middle;
		}
		
		.bk-big-img {
			max-width: 100px;
			position: relative;
			vertical-align: middle;
		}
		
		h1 {
			font-family: 'Montserrat', sans-serif;
			font-size: 2rem;
			font-weight: 500;
			//color: whitesmoke;
			color: #333;
			@media only screen and (min-width: 769px) {
				font-size: 3rem;
			}
		}
		
		.about-block {
			display: inline-block;
			position: relative;
			vertical-align: bottom;
			margin-bottom: 40px;
			max-width: 90%;
			@media only screen and (min-width: 769px) {
				max-width: none;
			}
			
			.cliche-about-info {
				display: block;
				position: relative;
				margin-top: 25px;
				font-size: 1rem;
				font-style: italic;
				
				&:before {
					content: '';
					position: absolute;
					top: -15px;
					left: 0;
					height: 5px;
					width: 100%;
					background: $accent-dark;
				}
			}
			
			&.hello {
				margin-right: 20px;
				
				&:after {
					content: '!';
					position: absolute;
					bottom: 35px;
					right: -5px;
					font-size: 5rem;
					font-style: normal;
				}
				
				img.smile {
					display: block;
					max-width: 200px;
					margin-right: 15px;
				}
				
			}
			
			&.name {
				h1 {
					margin: 0;
					span {
						text-decoration: line-through;
						margin-right: 10px;
						opacity: 0.7;
					}
				}
			}
			
			&.and {
				margin-right: 10px;
				h1 {
					margin: 0 0 43px;
				}
			}
			
			&.what-i-do {
				h1, img {
					display: inline-block;
					vertical-align: middle;
				}
				h1 {
					margin: 0;
				}
				img.www {
					max-width: 50px;
					margin: 0 15px;
				}
			}
		}
	}
}