/* vendor prefixes for css transforms */
@font-face {
  font-family: "Bebas Neue W01 Regular";
  src: url("../../assets/fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
  src: url("../../assets/fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"), url("../../assets/fonts/1444649/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"), url("../../assets/fonts/1444649/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"), url("../../assets/fonts/1444649/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype"); }
@font-face {
  font-family: "Loew W05 Heavy";
  src: url("../../assets/fonts/5158487/924f17d7-3b15-4ed9-a99d-a9e7e170306d.eot?#iefix");
  src: url("../../assets/fonts/5158487/924f17d7-3b15-4ed9-a99d-a9e7e170306d.eot?#iefix") format("eot"), url("../../assets/fonts/5158487/acbda8bc-3b4a-4715-87d0-3b288dff9c81.woff2") format("woff2"), url("../../assets/fonts/5158487/49aa492f-1c63-4022-a504-8648b84c1956.woff") format("woff"), url("../../assets/fonts/5158487/41e0749a-d56c-40c5-9352-51c619066333.ttf") format("truetype"); }
@font-face {
  font-family: "Bebas W05 Regular";
  src: url("../../assets/fonts/5190181/98369def-383a-47a1-af6c-6a6afd028f38.eot?#iefix");
  src: url("../../assets/fonts/5190181/98369def-383a-47a1-af6c-6a6afd028f38.eot?#iefix") format("eot"), url("../../assets/fonts/5190181/956b9d39-5ee0-4dd6-8ca6-32e172727606.woff2") format("woff2"), url("../../assets/fonts/5190181/51efd2e1-1dee-40ea-a745-e11fddc95bef.woff") format("woff"), url("../../assets/fonts/5190181/50c2aa9a-043f-4097-bd8a-47d6bb834bc4.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova AltD W05 Regular";
  src: url("../../assets/fonts/5201072/d7b7565a-d782-4565-80ef-a5cec8f2116c.eot?#iefix");
  src: url("../../assets/fonts/5201072/d7b7565a-d782-4565-80ef-a5cec8f2116c.eot?#iefix") format("eot"), url("../../assets/fonts/5201072/3a8d8853-4c8c-42e8-aa75-0037095930ad.woff2") format("woff2"), url("../../assets/fonts/5201072/6493dc22-e4bb-4f91-8bb8-b2929365b262.woff") format("woff"), url("../../assets/fonts/5201072/dfa0be76-8df8-46c5-b8dc-c462fb279c47.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova W05 Heavy";
  src: url("../../assets/fonts/5203848/22e88175-f1d9-46e1-a95d-41725bcb62d6.eot?#iefix");
  src: url("../../assets/fonts/5203848/22e88175-f1d9-46e1-a95d-41725bcb62d6.eot?#iefix") format("eot"), url("../../assets/fonts/5203848/5fc6d56b-c5de-4ba2-8053-94234969a16a.woff2") format("woff2"), url("../../assets/fonts/5203848/6304d5af-5884-4de2-9c8b-cb2c9d21828a.woff") format("woff"), url("../../assets/fonts/5203848/3d907618-12e5-4473-81c8-e94ea2bb7221.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova W05 Light";
  src: url("../../assets/fonts/5222607/43e9d9e7-bec0-4b8f-94c2-500aedbbdc48.eot?#iefix");
  src: url("../../assets/fonts/5222607/43e9d9e7-bec0-4b8f-94c2-500aedbbdc48.eot?#iefix") format("eot"), url("../../assets/fonts/5222607/fa6fd1e7-0b2c-4cdb-95f0-7173668aaf00.woff2") format("woff2"), url("../../assets/fonts/5222607/974c9975-10fb-47d7-adae-59421aa5f897.woff") format("woff"), url("../../assets/fonts/5222607/605529e2-eefb-4d2d-82b1-81f0f6fb09ea.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova W05 Thin";
  src: url("../../assets/fonts/5226685/8aa86b1a-a237-4429-b729-f929b3c45cf9.eot?#iefix");
  src: url("../../assets/fonts/5226685/8aa86b1a-a237-4429-b729-f929b3c45cf9.eot?#iefix") format("eot"), url("../../assets/fonts/5226685/d551baaa-5cd1-4a72-98aa-515639498925.woff2") format("woff2"), url("../../assets/fonts/5226685/20a1f8e0-d20f-40a0-87a0-757d3c276a0f.woff") format("woff"), url("../../assets/fonts/5226685/96ea2d9d-5e29-4dee-8580-630e8a5aca10.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova AltD W05 Heavy";
  src: url("../../assets/fonts/5309656/7a343ad7-7175-4c3d-ac91-455dcc78254a.eot?#iefix");
  src: url("../../assets/fonts/5309656/7a343ad7-7175-4c3d-ac91-455dcc78254a.eot?#iefix") format("eot"), url("../../assets/fonts/5309656/7135b553-0d63-4494-b5f6-722e540e83ea.woff2") format("woff2"), url("../../assets/fonts/5309656/3d3a3492-34c5-4d8b-bb95-bf9331e00b80.woff") format("woff"), url("../../assets/fonts/5309656/b4d87af0-5f60-4bd5-bcd8-d682587a5979.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova AltD W05 Bold";
  src: url("../../assets/fonts/5316253/f3188505-f9e3-4688-bbcc-fc174491f163.eot?#iefix");
  src: url("../../assets/fonts/5316253/f3188505-f9e3-4688-bbcc-fc174491f163.eot?#iefix") format("eot"), url("../../assets/fonts/5316253/5115fad6-96d8-4c9c-ad52-7d78dcd0e3d1.woff2") format("woff2"), url("../../assets/fonts/5316253/bfede91a-f3ae-46cb-8bcf-8d916556f01f.woff") format("woff"), url("../../assets/fonts/5316253/f4f63f16-0fd6-48ae-8ec8-7921d5b258d3.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova AltD W05 Light";
  src: url("../../assets/fonts/5340775/3de857cc-5c13-4fec-961d-1c76480b97c8.eot?#iefix");
  src: url("../../assets/fonts/5340775/3de857cc-5c13-4fec-961d-1c76480b97c8.eot?#iefix") format("eot"), url("../../assets/fonts/5340775/c7968f49-e2c0-43e0-b7c4-925bbf0e9a90.woff2") format("woff2"), url("../../assets/fonts/5340775/c083dbfa-af54-4da6-a9e3-9dca9a6650b7.woff") format("woff"), url("../../assets/fonts/5340775/86c2cdb9-215a-46c8-844a-fc521c9a71cf.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova W05 Bold";
  src: url("../../assets/fonts/5349275/c95e1dea-9ae3-4c98-a1ac-e347223b3555.eot?#iefix");
  src: url("../../assets/fonts/5349275/c95e1dea-9ae3-4c98-a1ac-e347223b3555.eot?#iefix") format("eot"), url("../../assets/fonts/5349275/8a628a6e-ee84-4337-a409-85484fb4786f.woff2") format("woff2"), url("../../assets/fonts/5349275/51eb8261-5b61-4837-bc8e-ec1b47827621.woff") format("woff"), url("../../assets/fonts/5349275/0258d09f-a769-46c3-80a9-7eb6659119cd.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova W05 Regular";
  src: url("../../assets/fonts/5357795/a8adceec-3131-40a2-835d-9a78c87605e5.eot?#iefix");
  src: url("../../assets/fonts/5357795/a8adceec-3131-40a2-835d-9a78c87605e5.eot?#iefix") format("eot"), url("../../assets/fonts/5357795/516c05eb-d25b-4a79-aab6-0c261fae96dd.woff2") format("woff2"), url("../../assets/fonts/5357795/81e23c74-1c79-4344-926c-b396dd6808e4.woff") format("woff"), url("../../assets/fonts/5357795/da26e750-32da-4e96-8c8c-b5adacfed035.ttf") format("truetype"); }
@font-face {
  font-family: "Mostra Nuova AltD W05 Thin";
  src: url("../../assets/fonts/5360109/322f93b0-f4f8-49db-b656-ad9f7221d756.eot?#iefix");
  src: url("../../assets/fonts/5360109/322f93b0-f4f8-49db-b656-ad9f7221d756.eot?#iefix") format("eot"), url("../../assets/fonts/5360109/4963c97d-7a76-4752-8e24-a01b31615530.woff2") format("woff2"), url("../../assets/fonts/5360109/8963770b-d53d-4452-a42e-768c5b6fa543.woff") format("woff"), url("../../assets/fonts/5360109/db8d260a-68b4-49df-97bf-8eca610a26c9.ttf") format("truetype"); }
@font-face {
  font-family: "Gilroy W05 Light";
  src: url("../../assets/fonts/5538949/6b236a39-df16-4ab5-a768-40f2864dab3b.eot?#iefix");
  src: url("../../assets/fonts/5538949/6b236a39-df16-4ab5-a768-40f2864dab3b.eot?#iefix") format("eot"), url("../../assets/fonts/5538949/a6096205-61ed-4c16-b76c-a56dd651ad33.woff2") format("woff2"), url("../../assets/fonts/5538949/18f98fc7-4ddd-4d5e-94c0-c9b74a2325bd.woff") format("woff"), url("../../assets/fonts/5538949/4dd50808-4386-406c-8c7c-1f4de240e451.ttf") format("truetype"); }
@font-face {
  font-family: "Gilroy W05 ExtraBold";
  src: url("../../assets/fonts/5538999/ab8fcd38-de60-4a08-a311-c614f97265d5.eot?#iefix");
  src: url("../../assets/fonts/5538999/ab8fcd38-de60-4a08-a311-c614f97265d5.eot?#iefix") format("eot"), url("../../assets/fonts/5538999/9aa3a833-f885-4df4-975c-c504bb6a7b67.woff2") format("woff2"), url("../../assets/fonts/5538999/824bd825-cb90-45d8-ac5e-3997fd8632ac.woff") format("woff"), url("../../assets/fonts/5538999/c5ae8834-4b3f-4d9c-9410-d3eb220605e3.ttf") format("truetype"); }
@font-face {
  font-family: "Baron Neue";
  src: url("../../assets/fonts/baron_neue/baron_neue-webfont.eot?#iefix");
  src: url("../../assets/fonts/baron_neue/baron_neue-webfont.eot?#iefix") format("eot"), url("../../assets/fonts/baron_neue/baron_neue-webfont.woff2") format("woff2"), url("../../assets/fonts/baron_neue/baron_neue-webfont.woff") format("woff"), url("../../assets/fonts/baron_neue/baron_neue-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Baron Neue Bold";
  src: url("../../assets/fonts/baron_neue/baron_neue_bold-webfont.eot?#iefix");
  src: url("../../assets/fonts/baron_neue/baron_neue_bold-webfont.eot?#iefix") format("eot"), url("../../assets/fonts/baron_neue/baron_neue_bold-webfont.woff2") format("woff2"), url("../../assets/fonts/baron_neue/baron_neue_bold-webfont.woff") format("woff"), url("../../assets/fonts/baron_neue/baron_neue_bold-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Baron Neue Black";
  src: url("../../assets/fonts/baron_neue/baron_neue_black-webfont.eot?#iefix");
  src: url("../../assets/fonts/baron_neue/baron_neue_black-webfont.eot?#iefix") format("eot"), url("../../assets/fonts/baron_neue/baron_neue_black-webfont.woff2") format("woff2"), url("../../assets/fonts/baron_neue/baron_neue_black-webfont.woff") format("woff"), url("../../assets/fonts/baron_neue/baron_neue_black-webfont.ttf") format("truetype"); }
* {
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: sans-serif; }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #f5f5f5; }

.container {
  width: 100%; }
  .container .col-50 {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 20px; }
    .container .col-50.left {
      float: left; }
    .container .col-50.right {
      float: right; }
    @media screen and (max-width: 768px) {
      .container .col-50.left, .container .col-50.right {
        float: none; } }
    .container .col-50 .inner-col {
      vertical-align: middle; }

p {
  margin-bottom: 30px; }

.bk-header {
  position: fixed;
  height: 60px;
  z-index: 203;
  transition: all .3s ease;
  width: 100%;
  background-color: #222;
  border-right: none; }
  @media only screen and (min-width: 769px) {
    .bk-header {
      height: 100vh;
      width: 75px; } }
  .bk-header .logo-home {
    top: 10px;
    left: 17.5px;
    width: 40px;
    height: 40px;
    background-image: url("../img/bk-logo-new-white-on-gold.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 0.3s ease;
    position: absolute;
    z-index: 203; }
    @media only screen and (min-width: 769px) {
      .bk-header .logo-home {
        top: 20px; } }
  .bk-header .burger-menu {
    position: fixed;
    z-index: 203;
    top: 30px;
    right: 17.5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (min-width: 769px) {
      .bk-header .burger-menu {
        top: 50%;
        left: 17.5px; } }
    .bk-header .burger-menu .lines {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .bk-header .burger-menu .lines .line {
        display: block;
        height: 2px;
        width: 40px;
        margin: 0 auto 8px;
        background-color: #c6a437;
        transition: all .3s ease; }
        .bk-header .burger-menu .lines .line:last-child {
          margin-bottom: 0; }
        .bk-header .burger-menu .lines .line.active.top {
          -webkit-transform: translateY(12px) rotateZ(45deg);
          -ms-transform: translateY(12px) rotateZ(45deg);
          transform: translateY(12px) rotateZ(45deg); }
        .bk-header .burger-menu .lines .line.active.middle {
          opacity: 0; }
        .bk-header .burger-menu .lines .line.active.bottom {
          -webkit-transform: translateY(-9px) rotateZ(-45deg);
          -ms-transform: translateY(-9px) rotateZ(-45deg);
          transform: translateY(-9px) rotateZ(-45deg); }
  .bk-header.active {
    box-shadow: 1px 0 2px 1px rgba(34, 34, 34, 0.25); }

#menu-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 202;
  background-color: #222;
  transition: transform 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.05s;
  -webkit-transform: translate3d(100%, 0, 0) translateZ(0);
  -ms-transform: translate3d(100%, 0, 0) translateZ(0);
  transform: translate3d(100%, 0, 0) translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform; }
  @media only screen and (min-width: 769px) {
    #menu-wrapper {
      width: 300px;
      -webkit-transform: translate3d(-100%, 0, 0) translateZ(0);
      -ms-transform: translate3d(-100%, 0, 0) translateZ(0);
      transform: translate3d(-100%, 0, 0) translateZ(0); } }
  #menu-wrapper ul {
    margin: 0;
    padding-left: 35px;
    top: 100px;
    position: relative; }
    #menu-wrapper ul li {
      display: block;
      margin-bottom: 35px; }
      #menu-wrapper ul li:last-child {
        margin-bottom: 0; }
      #menu-wrapper ul li .num {
        display: block;
        color: rgba(245, 245, 245, 0.25);
        right: 2px;
        position: relative;
        top: 20px;
        font-size: .75rem; }
      #menu-wrapper ul li a.menu-link {
        font-size: 3rem;
        text-transform: lowercase;
        color: whitesmoke;
        font-weight: 200;
        display: inline-block;
        margin: 0 auto;
        position: relative;
        text-decoration: none;
        z-index: 101; }
        #menu-wrapper ul li a.menu-link:hover span:after {
          transition: transform 0.4s cubic-bezier(0, 0, 0.5, 0);
          -webkit-transform: scale(1, 1) translateY(-50%);
          -ms-transform: scale(1, 1) translateY(-50%);
          transform: scale(1, 1) translateY(-50%);
          transform-origin: left center; }
        #menu-wrapper ul li a.menu-link span {
          padding: 0 15px; }
          #menu-wrapper ul li a.menu-link span:after {
            content: '';
            width: 100%;
            height: 8px;
            background: rgba(198, 164, 55, 0.65);
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transition: transform 0.4s ease-out;
            -webkit-transform: scale(0, 1) translateY(-50%);
            -ms-transform: scale(0, 1) translateY(-50%);
            transform: scale(0, 1) translateY(-50%);
            transform-origin: right; }

#active-menu-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s;
  transition: all .4s; }
  #active-menu-overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 201; }

/* When the nav is open! */
body.nav-open {
  overflow: hidden; }
  body.nav-open #header {
    border-right: 1px solid #333; }
  body.nav-open #menu-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5); }
    @media only screen and (min-width: 769px) {
      body.nav-open #menu-wrapper {
        -webkit-transform: translate3d(75px, 0, 0);
        -ms-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0); } }

/* Temporary landing page while under construction */
.temp-landing {
  background: #c6a437; }

.wrap {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: table; }
  .wrap .content {
    display: table-cell;
    vertical-align: middle; }
    .wrap .content .center {
      margin-bottom: 50px;
      text-align: center; }
      .wrap .content .center img {
        max-width: none;
        margin-bottom: 20px; }
        @media only screen and (max-width: 768px) {
          .wrap .content .center img {
            max-width: 35vh; } }
      .wrap .content .center p {
        color: whitesmoke;
        font-size: 24px;
        margin: 0; }
    .wrap .content .footer {
      text-align: center;
      position: relative; }
      .wrap .content .footer ul {
        padding: 0;
        margin: 0; }
        .wrap .content .footer ul li {
          display: inline-block;
          list-style: none;
          margin-right: 50px; }
          .wrap .content .footer ul li:last-child {
            margin-right: 0; }
          .wrap .content .footer ul li a {
            display: inline;
            transition: all 0.3s; }
            .wrap .content .footer ul li a:hover {
              opacity: 0.7; }
            .wrap .content .footer ul li a i {
              color: whitesmoke;
              font-size: 40px; }

#fullpage {
  position: relative; }

.section {
  color: #c6a437;
  height: 100vh;
  width: 100%;
  display: table;
  padding: 0; }
  .section:not(.work) {
    padding-left: 17.5px;
    padding-right: 17.5px; }
    @media only screen and (min-width: 769px) {
      .section:not(.work) {
        padding: 0 0 100px 75px; } }
  @media only screen and (min-width: 769px) {
    .section {
      padding: 0 0 100px 75px; } }
  .section .section-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  .section .section-header {
    padding: 100px 0 50px;
    text-align: left; }
    @media only screen and (min-width: 769px) {
      .section .section-header {
        padding: 100px 30px 150px; } }
    .section .section-header .header-text .num {
      position: relative;
      bottom: 25px;
      right: 4px;
      font-size: .75rem;
      font-weight: 700;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      color: rgba(34, 34, 34, 0.75); }
    .section .section-header .header-text h1 {
      display: inline-block;
      font-size: 3rem;
      line-height: 2.5rem;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-weight: 700;
      margin: 0;
      color: #222;
      text-transform: lowercase;
      position: relative;
      padding: 0 5px; }
      @media only screen and (min-width: 769px) {
        .section .section-header .header-text h1 {
          font-size: 4rem; } }
      .section .section-header .header-text h1:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 15px;
        top: 15px;
        left: 0;
        background-color: #e3cd89;
        z-index: -1; }
  .section .container {
    text-align: center;
    max-width: 900px;
    margin: 0 auto; }
  .section.intro {
    background-color: #222222;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .section.intro .container {
      height: 100%;
      max-width: none; }
      .section.intro .container .top-canvas:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(34, 34, 34, 0.75); }
      .section.intro .container .top-canvas .top-text {
        position: absolute;
        top: 50%;
        left: 50%;
        /* width: 100%; */
        transform: translate(-50%, -50%);
        z-index: 100;
        color: whitesmoke;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif; }
      .section.intro .container .top-canvas .top-heading {
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 1px;
        font-size: 6vw;
        line-height: 1; }
      .section.intro .container .top-canvas .top-subheading {
        font-size: 1.5vw;
        font-weight: 100;
        /* font-style: italic; */
        text-align: left;
        margin: 10px 0;
        padding-left: 8px; }
      .section.intro .container .top-canvas canvas {
        display: inline-block; }
    .section.intro h1 {
      font-family: 'Bebas Neue W01 Regular', sans-serif;
      font-size: 10rem;
      letter-spacing: 7px;
      margin: 0;
      color: rgba(245, 245, 245, 0.9);
      line-height: 8rem;
      text-align: left; }
    .section.intro h2 {
      font-weight: 500;
      font-size: 2.5rem;
      margin: 0;
      text-align: left; }
    .section.intro .centerpiece {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-width: 475px;
      width: calc(100vw - 60px);
      height: auto; }
      @media only screen and (min-width: 769px) {
        .section.intro .centerpiece {
          width: 475px; } }
      @media only screen and (min-width: 1600px) {
        .section.intro .centerpiece {
          width: 40vw; } }
      .section.intro .centerpiece .tile {
        width: 55px;
        height: 55px;
        text-align: center;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        perspective: 1000px;
        margin-right: 10px;
        margin-bottom: 10px; }
        @media only screen and (min-width: 769px) {
          .section.intro .centerpiece .tile {
            width: 95px;
            height: 95px;
            margin-right: 15px;
            margin-bottom: 15px; } }
        .section.intro .centerpiece .tile .tile-inner {
          width: 100%;
          height: 100%;
          transition: all 1.5s cubic-bezier(0.2, 0.24, 0.23, 1.01);
          transform-style: preserve-3d;
          position: relative; }
          .section.intro .centerpiece .tile .tile-inner .face {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            box-shadow: 4px 4px 5px 1px rgba(0, 38, 66, 0.75);
            border-radius: 50%; }
            .section.intro .centerpiece .tile .tile-inner .face.front {
              padding-top: 20%;
              z-index: 2;
              -webkit-transform: rotateY(0deg);
              -ms-transform: rotateY(0deg);
              transform: rotateY(0deg);
              /* For Firefox 31 */ }
              .section.intro .centerpiece .tile .tile-inner .face.front span {
                font-size: 46px;
                color: whitesmoke;
                font-family: 'Gilroy W05 Light', sans-serif;
                font-weight: 400; }
                @media only screen and (min-width: 1600px) {
                  .section.intro .centerpiece .tile .tile-inner .face.front span {
                    font-size: 80px; } }
            .section.intro .centerpiece .tile .tile-inner .face.back {
              display: block;
              -webkit-transform: rotateY(180deg);
              -ms-transform: rotateY(180deg);
              transform: rotateY(180deg);
              box-sizing: border-box;
              padding: 10px;
              color: white;
              text-align: center;
              background-color: rgba(0, 38, 66, 0.5); }
        .section.intro .centerpiece .tile:hover .tile-inner, .section.intro .centerpiece .tile.hover .tile-inner {
          -webkit-transform: rotateY(540deg);
          -ms-transform: rotateY(540deg);
          transform: rotateY(540deg); }
  .section.about {
    display: table;
    width: 100%; }
    .section.about .container {
      display: table-cell;
      vertical-align: middle; }
    .section.about .bk-big-img {
      max-width: 100px;
      position: relative;
      vertical-align: middle; }
    .section.about .about-blocks .about-break {
      display: none; }
    @media only screen and (min-width: 769px) {
      .section.about .about-blocks {
        max-width: 85%;
        margin: 0 auto; }
        .section.about .about-blocks .about-break {
          display: block; } }
    .section.about .about-block {
      display: inline-block;
      position: relative;
      vertical-align: bottom;
      margin-bottom: 25px;
      max-width: 90%; }
      @media only screen and (min-width: 769px) {
        .section.about .about-block {
          max-width: none; } }
      .section.about .about-block h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #222; }
        @media only screen and (min-width: 769px) {
          .section.about .about-block h1 {
            font-size: 3rem; } }
      .section.about .about-block .help-text {
        display: block;
        position: relative;
        margin-top: 25px;
        font-size: 1rem;
        font-style: italic;
        color: #222; }
        .section.about .about-block .help-text:before {
          content: '';
          position: absolute;
          top: -15px;
          left: 0;
          height: 5px;
          width: 100%;
          background: #c6a437; }
      .section.about .about-block.hello {
        margin-right: 0; }
        @media only screen and (min-width: 769px) {
          .section.about .about-block.hello {
            margin-right: 20px; } }
        .section.about .about-block.hello:after {
          content: '!';
          position: absolute;
          bottom: 35px;
          right: -5px;
          font-size: 5rem;
          font-style: normal; }
        .section.about .about-block.hello img.smile {
          display: block;
          max-width: 135px;
          margin-right: 15px; }
      .section.about .about-block.name {
        margin-right: 0; }
        @media only screen and (min-width: 769px) {
          .section.about .about-block.name {
            margin-right: 10px; } }
        .section.about .about-block.name h1 {
          margin: 0; }
          .section.about .about-block.name h1 span {
            text-decoration: line-through;
            margin-right: 10px;
            opacity: 0.7; }
      .section.about .about-block.and {
        margin: 0 auto 20px;
        display: block; }
        @media only screen and (min-width: 769px) {
          .section.about .about-block.and {
            margin-bottom: 68px;
            margin-right: 10px;
            display: inline-block; } }
        .section.about .about-block.and h1 {
          margin: 0; }
      .section.about .about-block.what-i-do h1, .section.about .about-block.what-i-do img {
        display: inline-block;
        vertical-align: middle; }
      .section.about .about-block.what-i-do h1 {
        margin: 0; }
      .section.about .about-block.what-i-do img.www {
        max-width: 50px;
        margin: 0 15px; }
      .section.about .about-block.personal-info {
        max-width: 90vw; }
        @media only screen and (min-width: 769px) {
          .section.about .about-block.personal-info {
            max-width: 75vw; } }
        .section.about .about-block.personal-info h1 {
          line-height: 2.5rem;
          margin: 0; }
          @media only screen and (min-width: 769px) {
            .section.about .about-block.personal-info h1 {
              line-height: 4rem; } }
        .section.about .about-block.personal-info img.skateboard {
          max-width: 80px;
          margin-right: 15px;
          position: relative;
          top: 10px; }
          @media only screen and (min-width: 769px) {
            .section.about .about-block.personal-info img.skateboard {
              max-width: 120px; } }
  .section.contact .container {
    max-width: none; }
  .section.contact h4 {
    font-size: 2rem;
    margin: 0 0 125px;
    color: #222;
    font-weight: 400;
    max-width: 90vw; }
    @media only screen and (min-width: 769px) {
      .section.contact h4 {
        font-size: 1.5rem;
        margin: 25px 0 75px;
        font-weight: 500;
        max-width: none; } }
  .section.contact ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .section.contact ul li {
      display: inline-block;
      margin-right: 50px; }
      .section.contact ul li:last-child {
        margin-right: 0; }
      .section.contact ul li a {
        font-size: 4rem;
        text-decoration: none;
        color: #222;
        transition: all 0.2s; }
        .section.contact ul li a:hover {
          color: #c6a437; }

@-webkit-keyframes screens {
  0% {
    background-image: url("../img/work/tidal-marketing/frame1.jpg"); }
  25% {
    background-image: url("../img/work/tidal-marketing/frame2.jpg"); }
  50% {
    background-image: url("../img/work/tidal-marketing/frame3.jpg"); }
  75% {
    background-image: url("../img/work/tidal-marketing/frame4.jpg"); }
  100% {
    background-image: url("../img/work/tidal-marketing/frame1.jpg"); } }
@keyframes screens {
  0% {
    background-image: url("../img/work/tidal-marketing/frame1.jpg"); }
  25% {
    background-image: url("../img/work/tidal-marketing/frame2.jpg"); }
  50% {
    background-image: url("../img/work/tidal-marketing/frame3.jpg"); }
  75% {
    background-image: url("../img/work/tidal-marketing/frame4.jpg"); }
  100% {
    background-image: url("../img/work/tidal-marketing/frame1.jpg"); } }
.work-container .portfolio-item {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 150px; }
  @media only screen and (min-width: 769px) {
    .work-container .portfolio-item {
      height: auto; } }
  .work-container .portfolio-item a {
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer; }
    @media only screen and (min-width: 769px) {
      .work-container .portfolio-item a {
        padding: 25px 0 25px 40px; } }
    .work-container .portfolio-item a .bg-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left 30%;
      filter: brightness(0.4) grayscale(0);
      -webkit-transform: scale(1.05) rotate(0deg);
      -ms-transform: scale(1.05) rotate(0deg);
      transform: scale(1.05) rotate(0deg);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transition: all 0.7s; }
      @media only screen and (min-width: 769px) {
        .work-container .portfolio-item a .bg-image {
          filter: brightness(1) grayscale(1);
          -webkit-transform: scale(1) rotate(0deg);
          -ms-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg); } }
    .work-container .portfolio-item a .logo {
      display: inline-block;
      width: 70px;
      height: 70px;
      position: relative;
      z-index: 2;
      vertical-align: middle;
      margin-right: 20px;
      border-radius: 50%;
      box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.35);
      opacity: 1.0;
      transition: all 0.4s;
      top: 50%;
      left: 17.5px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .work-container .portfolio-item a .logo img {
        max-width: 100%; }
      @media only screen and (min-width: 769px) {
        .work-container .portfolio-item a .logo {
          opacity: 0;
          top: auto;
          left: 0;
          -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
          transform: translateY(0%); } }
    .work-container .portfolio-item a .text {
      display: inline-block;
      position: relative;
      z-index: 2;
      opacity: 1.0;
      transition: all 0.4s;
      left: 17.5px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media only screen and (min-width: 769px) {
        .work-container .portfolio-item a .text {
          vertical-align: middle;
          opacity: 0;
          left: 0;
          top: auto;
          -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
          transform: translateY(0%); } }
      .work-container .portfolio-item a .text span {
        position: relative;
        z-index: 2; }
        .work-container .portfolio-item a .text span.name {
          display: block;
          font-size: 1.5rem;
          color: whitesmoke; }
          @media only screen and (min-width: 769px) {
            .work-container .portfolio-item a .text span.name {
              font-size: 2rem; } }
        .work-container .portfolio-item a .text span.client {
          font-size: 1rem;
          color: #eee; }
          @media only screen and (min-width: 769px) {
            .work-container .portfolio-item a .text span.client {
              font-size: 1.2rem; } }
    @media only screen and (min-width: 769px) {
      .work-container .portfolio-item a:hover .bg-image {
        filter: brightness(0.4) grayscale(0);
        -webkit-transform: scale(1.05) rotate(0deg);
        -ms-transform: scale(1.05) rotate(0deg);
        transform: scale(1.05) rotate(0deg); }
      .work-container .portfolio-item a:hover .logo {
        opacity: 1.0;
        left: 30px; }
      .work-container .portfolio-item a:hover .text {
        opacity: 1.0;
        left: 30px; }
        .work-container .portfolio-item a:hover .text span.name {
          color: whitesmoke; }
        .work-container .portfolio-item a:hover .text span.client {
          color: #eee; } }
.work-container .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  -webkit-transform: translate(-50%, -50%) translate3d(0.001vw, -10%, 0);
  -ms-transform: translate(-50%, -50%) translate3d(0.001vw, -10%, 0);
  transform: translate(-50%, -50%) translate3d(0.001vw, -10%, 0);
  background-color: #222;
  z-index: 300;
  transition: opacity 0.3s 0.45s, width 0.5s cubic-bezier(0.82, 0, 0.61, 0.89), transform 0.5s cubic-bezier(0.82, 0, 0.61, 0.89), height 0.5s cubic-bezier(0.82, 0, 0.61, 0.89); }
  .work-container .modal.visible {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) translate3d(0.001vw, 0vh, 0);
    -ms-transform: translate(-50%, -50%) translate3d(0.001vw, 0vh, 0);
    transform: translate(-50%, -50%) translate3d(0.001vw, 0vh, 0);
    transition: opacity 0.25s 0s, width 0.35s cubic-bezier(0.55, 0, 0.9, 0.7) 0.1s, transform 0.35s cubic-bezier(0.55, 0, 0.9, 0.7) 0.1s, height 0.35s cubic-bezier(0.55, 0, 0.9, 0.7) 0.1s, border 0.2s linear 0.3s; }
    .work-container .modal.visible .modal-content, .work-container .modal.visible .close-btn, .work-container .modal.visible .case-study {
      opacity: 1.0;
      display: block; }
  .work-container .modal.hidden {
    width: 0;
    height: 0;
    opacity: 0; }
    .work-container .modal.hidden .modal-content {
      opacity: 0; }
  .work-container .modal .modal-content {
    overflow: auto; }
  .work-container .modal .close-btn {
    position: sticky;
    right: 20px;
    top: 20px;
    float: right;
    width: 7vh;
    height: 7vh;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.3s;
    z-index: 3; }
    .work-container .modal .close-btn .close-icon {
      display: inline-block;
      margin: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      transition: opacity .5s ease; }
      .work-container .modal .close-btn .close-icon:before, .work-container .modal .close-btn .close-icon:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.3vh;
        min-height: 1px;
        background-color: #c6a437;
        top: 50%;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        right: 0;
        margin-left: -6.5vh;
        transition: -webkit-transform .35s ease;
        transition: transform .35s ease; }
      .work-container .modal .close-btn .close-icon:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .work-container .modal .close-btn .close-icon:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .work-container .modal .close-btn .close-icon:hover:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .work-container .modal .close-btn .close-icon:hover:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
  .work-container .modal .case-study {
    opacity: 0;
    transition: opacity 0.5s ease-in 0.3s;
    display: none;
    background-color: #222;
    color: #f5f5f5; }
    .work-container .modal .case-study .header {
      width: 100%;
      height: 80vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 25%;
      position: relative; }
      .work-container .modal .case-study .header:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); }
      .work-container .modal .case-study .header .center {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 90%;
        text-align: center;
        z-index: 2;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .work-container .modal .case-study .header .center h1 {
          text-transform: uppercase;
          font-size: 3rem;
          font-family: 'Gilroy W05 ExtraBold', Helvetica, Arial, sans-serif;
          position: relative;
          margin: 0 auto 25px;
          padding-bottom: 15px; }
          .work-container .modal .case-study .header .center h1:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 15px;
            height: 6px;
            background-color: #c6a437; }
        .work-container .modal .case-study .header .center img {
          max-width: 150px; }
    .work-container .modal .case-study .main {
      width: 100%;
      background-color: #222;
      padding: 0 0 100px; }
      .work-container .modal .case-study .main .cs-block {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px; }
      .work-container .modal .case-study .main .meta {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
        font-family: 'Gilroy W05 ExtraBold', Helvetica, Arial, sans-serif; }
        @media only screen and (min-width: 769px) {
          .work-container .modal .case-study .main .meta {
            margin-bottom: 100px; } }
        .work-container .modal .case-study .main .meta .meta-col {
          float: left;
          padding: 0; }
          @media only screen and (min-width: 769px) {
            .work-container .modal .case-study .main .meta .meta-col {
              padding: 0 15px; } }
          .work-container .modal .case-study .main .meta .meta-col:nth-child(1) {
            flex: 1 40%;
            padding-left: 0; }
          .work-container .modal .case-study .main .meta .meta-col:nth-child(2) {
            flex: 1 40%; }
          .work-container .modal .case-study .main .meta .meta-col:nth-child(3) {
            flex: 1 20%;
            padding-right: 0; }
          .work-container .modal .case-study .main .meta .meta-col p {
            color: #f5f5f5;
            display: block;
            margin-bottom: 10px; }
          @media only screen and (max-width: 767px) {
            .work-container .modal .case-study .main .meta .meta-col {
              width: 100%;
              flex: 1 100% !important;
              padding-bottom: 30px; } }
        @media only screen and (max-width: 767px) {
          .work-container .modal .case-study .main .meta {
            flex-wrap: wrap; } }
      .work-container .modal .case-study .main .meta-col-header {
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 3px solid rgba(55, 55, 55, 0.75);
        max-width: none; }
        .work-container .modal .case-study .main .meta-col-header strong {
          font-family: 'Gilroy W05 ExtraBold', Helvetica, Arial, sans-serif;
          margin-right: 5px;
          color: #c6a437;
          display: block;
          text-transform: uppercase;
          letter-spacing: 2px; }
      .work-container .modal .case-study .main .site-link {
        text-decoration: none;
        display: block;
        transition: all 0.3s;
        color: whitesmoke; }
        .work-container .modal .case-study .main .site-link:hover {
          color: #c6a437; }
        .work-container .modal .case-study .main .site-link span {
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle; }
        .work-container .modal .case-study .main .site-link i {
          display: inline-block;
          vertical-align: middle; }
      .work-container .modal .case-study .main .content {
        background-color: #222; }
        .work-container .modal .case-study .main .content .mockup-full-pg {
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: #222; }
          .work-container .modal .case-study .main .content .mockup-full-pg img {
            max-width: 100%; }
        .work-container .modal .case-study .main .content .screens {
          width: 100%;
          background-color: #222;
          color: whitesmoke; }
          @media only screen and (min-width: 769px) {
            .work-container .modal .case-study .main .content .screens {
              width: 75%; } }
          .work-container .modal .case-study .main .content .screens img {
            max-width: 100%;
            margin: 0 auto; }
          .work-container .modal .case-study .main .content .screens .single-screen {
            width: 100%;
            margin-bottom: 150px;
            background-color: #222; }
            .work-container .modal .case-study .main .content .screens .single-screen strong {
              text-transform: uppercase;
              font-size: 1rem;
              color: whitesmoke;
              margin-bottom: 20px;
              display: block;
              letter-spacing: 1px;
              font-family: 'Lato', Helvetica, Arial, sans-serif;
              font-weight: 600; }
            .work-container .modal .case-study .main .content .screens .single-screen img {
              box-shadow: 2px 10px 16px 0 rgba(0, 0, 0, 0.18); }
              .work-container .modal .case-study .main .content .screens .single-screen img.no-shadow {
                box-shadow: none; }
            .work-container .modal .case-study .main .content .screens .single-screen.nav {
              position: relative; }
              .work-container .modal .case-study .main .content .screens .single-screen.nav img.dropdowns {
                max-width: 55%; }
              .work-container .modal .case-study .main .content .screens .single-screen.nav img.notifs {
                position: absolute;
                top: 20%;
                left: 45%;
                max-width: 55%; }
        .work-container .modal .case-study .main .content .job-desc .left {
          display: inline-block;
          text-align: left;
          padding: 0;
          margin-bottom: 50px;
          vertical-align: top;
          width: 100%; }
          @media only screen and (min-width: 769px) {
            .work-container .modal .case-study .main .content .job-desc .left {
              padding: 0 50px 0 0;
              margin-bottom: 0; } }
          .work-container .modal .case-study .main .content .job-desc .left img {
            max-width: 100%;
            margin-bottom: 10px; }
          .work-container .modal .case-study .main .content .job-desc .left p {
            font-size: 1.15rem;
            letter-spacing: 1px; }
          .work-container .modal .case-study .main .content .job-desc .left .creator-exchange-list {
            margin: 0;
            padding: 0;
            list-style: none; }
        .work-container .modal .case-study .main .content .job-desc .right {
          display: inline-block;
          padding: 0;
          vertical-align: top;
          width: 100%;
          -webkit-perspective: 2000px;
          perspective: 2000px; }
          @media only screen and (min-width: 769px) {
            .work-container .modal .case-study .main .content .job-desc .right {
              padding: 0 0 0 50px; } }
          .work-container .modal .case-study .main .content .job-desc .right .device-screens {
            width: 100%;
            height: 0;
            padding-bottom: 70%;
            margin: 0;
            position: relative;
            text-align: center;
            -webkit-perspective: 1000px;
            perspective: 1000px; }
            @media only screen and (min-width: 1024px) {
              .work-container .modal .case-study .main .content .job-desc .right .device-screens {
                -webkit-perspective: 2000px;
                perspective: 2000px; } }
            .work-container .modal .case-study .main .content .job-desc .right .device-screens .device-screen {
              position: absolute;
              -webkit-box-shadow: 3px 0 0 #BBB, 0 0 30px rgba(34, 34, 34, 0.5);
              box-shadow: 3px 0 0 #BBB, 0 0 30px rgba(34, 34, 34, 0.5);
              -webkit-transform: rotateY(-30deg) rotateX(5deg);
              transform: rotateY(-30deg) rotateX(5deg);
              -webkit-transform-origin: left bottom;
              -ms-transform-origin: left bottom;
              transform-origin: left bottom;
              display: block;
              border-radius: 1px; }
              .work-container .modal .case-study .main .content .job-desc .right .device-screens .device-screen.phone {
                width: 20%;
                top: 40%;
                left: 30%;
                z-index: 2; }
              .work-container .modal .case-study .main .content .job-desc .right .device-screens .device-screen.tablet {
                width: 40%;
                top: 20%;
                z-index: 1; }
              .work-container .modal .case-study .main .content .job-desc .right .device-screens .device-screen.desktop {
                width: 95%;
                top: 0;
                left: 50%;
                -webkit-transform: rotateY(-30deg) rotateX(5deg) translateX(-50%);
                transform: rotateY(-30deg) rotateX(5deg) translateX(-50%); }
                .work-container .modal .case-study .main .content .job-desc .right .device-screens .device-screen.desktop.tidal-marketing-mobile {
                  left: 45%;
                  display: block; }
                  @media only screen and (min-width: 1200px) {
                    .work-container .modal .case-study .main .content .job-desc .right .device-screens .device-screen.desktop.tidal-marketing-mobile {
                      display: none; } }
              .work-container .modal .case-study .main .content .job-desc .right .device-screens .device-screen.tidal-marketing {
                width: 95%;
                height: 300px;
                top: 25px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                transition: all 0.05s linear;
                -webkit-animation-name: screens;
                animation-name: screens;
                -webkit-animation-duration: 14s;
                animation-duration: 14s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-direction: normal;
                animation-direction: normal;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                display: none; }
                @media only screen and (min-width: 1200px) {
                  .work-container .modal .case-study .main .content .job-desc .right .device-screens .device-screen.tidal-marketing {
                    display: block; } }
        @media only screen and (min-width: 769px) {
          .work-container .modal .case-study .main .content .job-desc .left {
            width: 40%; }
          .work-container .modal .case-study .main .content .job-desc .right {
            width: 60%; } }
        .work-container .modal .case-study .main .content .job-desc.creator-exchange {
          padding-bottom: 100px; }
          @media only screen and (min-width: 769px) {
            .work-container .modal .case-study .main .content .job-desc.creator-exchange {
              padding-top: 100px; } }
        .work-container .modal .case-study .main .content .list {
          width: 100%;
          margin-bottom: 100px;
          padding: 0 50px; }
          .work-container .modal .case-study .main .content .list ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center; }
            .work-container .modal .case-study .main .content .list ul li {
              display: inline-block;
              margin-right: 20px;
              margin-bottom: 20px;
              width: 70px;
              height: 70px; }
              @media only screen and (min-width: 769px) {
                .work-container .modal .case-study .main .content .list ul li {
                  width: 75px;
                  height: 75px; } }
              .work-container .modal .case-study .main .content .list ul li img {
                max-width: 100%;
                max-height: 100%; }
          .work-container .modal .case-study .main .content .list.tech-stack {
            margin-bottom: 150px; }
          .work-container .modal .case-study .main .content .list.clients ul li {
            width: 70px;
            height: 70px;
            position: relative; }
            @media only screen and (min-width: 769px) {
              .work-container .modal .case-study .main .content .list.clients ul li {
                width: 100px;
                height: 70px; } }
            .work-container .modal .case-study .main .content .list.clients ul li img {
              max-width: 100%;
              max-height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
    .work-container .modal .case-study.tidal-dashboard .header {
      background-image: url("../../assets/img/work/tidal-dashboard/tidal-dashboard-header-br.jpg"); }
    .work-container .modal .case-study.tidal-dashboard .job-desc {
      margin-bottom: 100px; }
    .work-container .modal .case-study.tidal-dashboard .mockup-full-pg {
      margin-bottom: 100px; }
    .work-container .modal .case-study.tidal-styleguide .header {
      background-image: url("../../assets/img/work/tidal-styleguide/styleguide-bg-test.png"); }
    .work-container .modal .case-study.tidal-styleguide .main .content .job-desc .right .device-screens .device-screen.phone {
      left: 35%; }
    .work-container .modal .case-study.tidal-styleguide .main .content .job-desc .right .device-screens .device-screen.tablet {
      top: 10%;
      left: 50%; }
    .work-container .modal .case-study.tidal-styleguide .main .content .job-desc .right .device-screens .device-screen.desktop {
      left: 40%; }
    .work-container .modal .case-study.tidal-styleguide .job-desc {
      margin-bottom: 100px; }
    .work-container .modal .case-study.tidal-styleguide .main .content .screens {
      background: #222; }
      .work-container .modal .case-study.tidal-styleguide .main .content .screens .cs-block .single-screen strong {
        color: whitesmoke; }
    .work-container .modal .case-study.tidal-marketing .header {
      background-image: url("../../assets/img/work/tidal-marketing/tidal-marketing-header-2.jpg"); }
  .work-container .modal .modal-content {
    position: relative;
    background: #222;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.3s; }

#work {
  font-family: 'Gilroy W05 Light', sans-serif;
  padding: 0;
  margin-bottom: 40px; }
  @media only screen and (min-width: 769px) {
    #work {
      padding-left: 75px;
      padding-bottom: 100px; } }
  @media only screen and (max-width: 768px) {
    #work .section-header {
      padding-left: 17.5px;
      padding-right: 17.5px; } }

footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #222;
  padding: 20px 0; }
  @media only screen and (min-width: 769px) {
    footer {
      padding-left: 75px; } }
  footer p {
    margin-bottom: 1em;
    color: whitesmoke;
    font-size: 0.75rem; }
    footer p a {
      color: whitesmoke;
      transition: all 0.2s; }
      footer p a:hover {
        color: #c6a437; }

/*# sourceMappingURL=style.css.map */
